%h2= t("history.title").html_safe
%p= t("history.text1").html_safe
%ul
  %li= t("history.objective_list.item1")
  %li= t("history.objective_list.item2")
  %li= t("history.objective_list.item3")
  %li= t("history.objective_list.item4")
%p= t("history.text2").html_safe