%h2= t("history.title").html_safe
= image_tag "Elbie van der Merwe.jpg", :class => "pull-right",:width => "25%", :style => "margin: 0 10px 10px 0;"
%p= simple_format t("history.text1")
%ul
  %li= t("history.objective_list.item1")
  %li= t("history.objective_list.item2")
  %li= t("history.objective_list.item3")
  %li= t("history.objective_list.item4")
%p= simple_format t("history.text2")