%h2= t("organizing_committee.title")
= image_tag "brigitte_vilasco2.png", :width => 200, :class => "pull-left portrait"
%p= simple_format t("organizing_committee.text")
= image_tag "vilasco.png"
%p= simple_format t("organizing_committee.signature")