%h2= t("pabs_president.title")
= image_tag "Dr. Richard Nnabuko.jpg", :width => "20%", :class => "pull-left", :style => "margin: 0 15px 15px 0;"
%p= simple_format t("pabs_president.text")
= image_tag "president_signature.png"
%p= simple_format t("pabs_president.signature")
