%h2= t('registration_fees.congress.title')
%ul
  - t('registration_fees.congress.lis').each do |li_content|
    %li= li_content

%table.styled{ border: 1 }
  %tr
    %th{ colspan: 2 }= t('registration_fees.congress.table.early')
    %th{ colspan: 2 }= t('registration_fees.congress.table.late')
  %tr
    %th{ colspan: 4 }= t('registration_fees.congress.table.local_participants')
  %tr
    %th= t('registration_fees.congress.table.physicians')
    %th= t('registration_fees.congress.table.students')
    %th= t('registration_fees.congress.table.physicians')
    %th= t('registration_fees.congress.table.students')
  %tr
    %td= '95 000 XOF<br/>$ 180 USD<br/>€ 145 EUR'.html_safe
    %td= '70 000 XOF<br/>$ 130 USD<br/>€ 110 EUR'.html_safe
    %td= '120 000 XOF<br/>$ 225 USD<br/>€ 180 EUR'.html_safe
    %td= '90 000 XOF<br/>$ 175 USD<br/>€ 140 EUR'.html_safe
  %tr
    %th{ colspan: 4 }= t('registration_fees.congress.table.foreign_participants')
  %tr
    %th= t('registration_fees.congress.table.physicians')
    %th= t('registration_fees.congress.table.students')
    %th= t('registration_fees.congress.table.physicians')
    %th= t('registration_fees.congress.table.students')
  %tr
    %td= '200 000 XOF<br/>$ 400 USD<br/>€ 325 EUR'.html_safe
    %td= '90 000 XOF<br/>$ 175 USD<br/>€ 140 EUR'.html_safe
    %td= '250 000 XOF<br/>$ 475 USD<br/>€ 400 EUR'.html_safe
    %td= '120 000 XOF<br/>$ 225 USD<br/>€ 180 EUR'.html_safe


%h2= t('registration_fees.exhibition_stands.title')

%table.styled{ border: 1 }
  %tr
    %th
    %th= 'XOF'
    %th= '$ USD'
    %th= '€ EUR'
  %tr
    %th= t('registration_fees.exhibition_stands.silver')
    %td.righted= '500 000'
    %td.righted= '960'
    %td.righted= '760'
  %tr
    %th= t('registration_fees.exhibition_stands.gold')
    %td.righted= '750 000'
    %td.righted= '1 440'
    %td.righted= '1 140'
  %tr
    %th= t('registration_fees.exhibition_stands.platinium')
    %td.righted= '≥ 1 000 000'
    %td.righted= '1 920'
    %td.righted= '1 520'


%h2= t('registration_fees.banking_informations.title')
%p= t('registration_fees.banking_informations.subtitle')

%table.styled{ border: 1 }
  %tr
    %th= t('registration_fees.banking_informations.bank_code')
    %td CI059
  %tr
    %th= t('registration_fees.banking_informations.wicket_code')
    %td 01037
  %tr
    %th= t('registration_fees.banking_informations.account_number')
    %td 141231078801
  %tr
    %th= t('registration_fees.banking_informations.key_code')
    %td 67
  %tr
    %th= t('registration_fees.banking_informations.account_name')
    %td FONDATION PHŒNIX
  %tr
    %th= t('registration_fees.banking_informations.iban')
    %td CI93 CI05 9010 3714 1231 0788 01671
  %tr
    %th= t('registration_fees.banking_informations.address')
    %td= t('registration_fees.banking_informations.address_value').html_safe
  %tr
    %th= t('registration_fees.banking_informations.swift_code')
    %td ECOCCIAB

:css
  table.styled {
    width: 99%;
  }
  table.styled td, table.styled th {
    padding: 3px;
    text-align: center;
  }
  table.styled td.righted {
    text-align: right;
  }