%h2= t("scientific_committee.title")
= image_tag "Amr.jpg", :width => 150, :class => "pull-left portrait"
%p= simple_format t("scientific_committee.text")
= image_tag "signature_E.jpg", :width => 150
%p= simple_format t("scientific_committee.signature")