%h2= t("view_the_program.preliminary_themes").html_safe
.list-group
  = link_to t("view_the_program.theme_list.epidemiology_of_burns_in_africa_and_around_the_world").html_safe + "<span class=\"badge\">0</span>".html_safe, "#", :class => "list-group-item"
  = link_to t("view_the_program.theme_list.end_of_life_palliative_care_and_spirituality").html_safe + "<span class=\"badge\">0</span>".html_safe, "#", :class => "list-group-item"
  = link_to t("view_the_program.theme_list.rehabilitation").html_safe + "<span class=\"badge\">0</span>".html_safe, "#", :class => "list-group-item"
  = link_to t("view_the_program.theme_list.wound_care").html_safe + "<span class=\"badge\">0</span>".html_safe, "#", :class => "list-group-item"
  = link_to t("view_the_program.theme_list.other").html_safe + "<span class=\"badge\">0</span>".html_safe, "#", :class => "list-group-item"

%h2= t("view_the_program.preliminary_activities").html_safe
.list-group
  = link_to t("view_the_program.activities_list.poster_presentations").html_safe + "<span class=\"badge\">0</span>".html_safe, "#", :class => "list-group-item"
  = link_to t("view_the_program.activities_list.essential_burn_care_course").html_safe + "<span class=\"badge\">0</span>".html_safe, "#", :class => "list-group-item"
  = link_to t("view_the_program.activities_list.oral_resentations").html_safe + "<span class=\"badge\">0</span>".html_safe, "#", :class => "list-group-item"

.alert.alert-info= "<i class=\"fa fa-info-circle\"></i> ".html_safe + t("view_the_program.alert_info").html_safe
