%h2= t("visitor_information.title1")
%p= simple_format t("visitor_information.text1")
%h2= t("visitor_information.title2")
%p= simple_format t("visitor_information.text2")
%table.table
  %thead
    %tr
      %th.airlines-thead= t("visitor_information.ailines")
      %th.served-destinations-thead= t("visitor_information.served_destinations")
    %tr
      %td= "Air Algérie"
      %td= "Alger"
    %tr
      %td= "Brussels Airlines"
      %td= "Bruxelles, Bamako, Cotonou, Monrovia"
    %tr
      %td= "Air Burkina"
      %td= "Bobo Dioulasso, Ouagadougou"
    %tr
      %td= "Camair-Co"
      %td= "Douala, Lagos"
    %tr
      %td= "Air Côte d'Ivoire"
      %td= "Accra, Bamako, Brazzaville, Conakry, Cotonou, Dakar, Douala, Freetown, Kinshasa, Libreville, Lomé, Niamey, Monrovia, N'Djamena, Ouagadougou, Pointe-Noire, Yaoundé"
    %tr
      %td= "EgyptAir"
      %td= "Accra, Le Caire"
    %tr
      %td= "CEIBA Intercontinental"
      %td= "Malabo"
    %tr
      %td= "Ethiopian Airlines"
      %td= "Addis-Abeba"
    %tr
      %td= "Air France"
      %td= "Paris"
    %tr
      %td= "Corsair"
      %td
    %tr
      %td= "Eagle Atlantic Airlines"
      %td= "Accra, Monrovia"
    %tr
      %td= "Kenya Airways"
      %td= "Nairobi"
    %tr
      %td= "Middle East Airlines"
      %td= "Beyrouth"
    %tr
      %td= "Cargolux"
      %td= "Accra"
    %tr
      %td= "Air Mali"
      %td= "Bamako"
    %tr
      %td= "Mauritania Airways"
      %td= "Nouakchott"
    %tr
      %td= "Royal Air Maroc"
      %td= "Brazzaville, Casablanca, Pointe-Noire (Congo)"
    %tr
      %td= "Arik Air"
      %td= "Lagos"
    %tr
      %td= "RwandAir"
      %td= "Kigali"
    %tr
      %td= "Sénégal Airlines"
      %td= "Bamako, Brazzaville, Cotonou, Dakar, Douala, Libreville"
    %tr
      %td= "South African Airways"
      %td= "Accra, Johannesburg"
    %tr
      %td= "Emirates"
      %td= "Accra, Dubaï"
    %tr
      %td= "Asky"
      %td= "Accra, Bamako, Brazzaville, Conakry, Lagos, Lomé, Pointe-Noire (Congo)"
    %tr
      %td= "Tunisair"
      %td= "Tunis"
    %tr
      %td= "Turkish Airlines"
      %td= "Accra, Istanbul"
%p= t("visitor_information.text3")
.abidjan-map
  = image_tag "abidjan_map.png"
  = simple_format t("visitor_information.abidjan_map_text")
%p= simple_format t("visitor_information.text4")
%h2= t("visitor_information.title3")
.pull-left= image_tag "money.png", :style => "margin: 0 10px 10px 0;"
%p= simple_format t("visitor_information.text5")
%h2= t("visitor_information.title4")
%p= simple_format t("visitor_information.text6")
%div
  = image_tag "beach.png"
  = image_tag "rain.png"
  = image_tag "swimming.png"
%h2= t("visitor_information.title5")
%p= simple_format t("visitor_information.text7")
.food
  = image_tag "kedjenou.png"
  = image_tag "attieke.png"
  = image_tag "palm.png"
  = image_tag "foutou.png"
%h2= t("visitor_information.title6")
%p= simple_format t("visitor_information.text8")
%h2= t("visitor_information.title7")
%p= simple_format t("visitor_information.text9")
%h2= t("visitor_information.title8")
%p= simple_format t("visitor_information.text10")
%h2= t("visitor_information.title9")
%p= simple_format t("visitor_information.text11")
%h2= t("visitor_information.title10")
%p= simple_format t("visitor_information.text12")
.shopping
  = image_tag "touareg.png"
  = image_tag "cava1.png"
  = image_tag "cava2.png"
  = image_tag "masks.png"
%h2= t("visitor_information.title11")
%p= simple_format t("visitor_information.text13")
%h2= t("visitor_information.title12")
%p= simple_format t("visitor_information.text14")
.cultes1
  = image_tag "mosque.png"
  = image_tag "mosque2.png"
  = image_tag "mosque3.png"
.cultes2
  = image_tag "cathedrale.png"
  = image_tag "lebanese.png"
  = image_tag "marian.png"
%h2= t("visitor_information.title13")
%p= simple_format t("visitor_information.text15")
